.teeth {
  border-collapse: collapse;
  border: 3px solid black;
  max-width: 500px;
  td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    &:nth-child(8) {
      border-right: 3px solid black;
    }
    label {
      display: inline;
      display: flex;
      flex-direction: column;
      user-select: none;
      cursor: pointer;
    }
  }
  tr {
    border-bottom: 3px solid black;
  }
  input {
    cursor: pointer;
    margin: 0;
  }
}

.cell {
  display: flex;
  flex-direction: col;
  align-items: center;
  justify-content: center;
}
