.TeethTests {
  border-collapse: collapse;
  border: 3px solid black;
}

.TeethTests th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.TeethTests td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
.TeethTests td:nth-child(8) {
  border-right: 3px solid black;
}

.TeethTests tr {
  border-bottom: 3px solid black;
}

.TeethTests .radio-list-h {
  display: flex;
  flex-direction: row;
}
.TeethTests .radio-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.TeethTests .radio-list .item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.TeethTests .radio-list .item label {
  padding: 2px;
}

.TeethTests .radio-list .item input[type='text'] {
  max-width: 30px;
  text-align: center;
  margin: 0 0 0 2px;
  padding: 2px;
}
.TeethTests .radio-list .item input:disabled {
  background-color: silver;
}

.TeethTests .mobility {
  display: flex;
  flex-direction: row;
}
.TeethTests .mobility input {
  cursor: pointer;
}

.TeethTests .mobility .item {
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
}

.TeethTests .mobility .item label {
  user-select: none;
  cursor: pointer;
}

.TeethTests .palpation-grid {
  display: grid;
  gap: 5px;
  margin: 5px;
  grid-template-columns: repeat(4, 1fr);
}

.TeethTests .physiologic {
  max-width: 150px;
}
