.file-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  padding: 10px;
}

.file-form input[type="text"],
.file-form input[type="date"] {
  display: block;
  padding: 5px;
  margin: 5px 10px 10px;
  width: 250px;
}

.file-form textarea {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
}

.file-form fieldset {
  border-radius: 5px;
  padding: 10px;
  max-width: 500px;
}
.file-form fieldset legend {
  padding: 0 10px;
}

.file-form fieldset label {
  margin: 10px;
}
