.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.list {
  display: flex;
  width: 200px;
  height: max-content;
  height: 100%;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  border-right: 1px solid black;
  button {
    text-align: left;
    padding: 5px;
    &.plus {
      text-align: center;
    }
  }
}

.current {
  display: flex;
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}
