.container {
  padding: 50px;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;

  th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
  }

  td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    &:nth-child(8) {
      border-right: 3px solid black;
    }
  }
}

.radioList {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
      padding: 2px;
    }

    input[type='text'] {
      max-width: 30px;
      text-align: center;
      margin: 0 0 0 2px;
      padding: 2px;
    }
    input:disabled {
      background-color: silver;
    }
  }
}
